.time{
    text-align: center;
    padding: 32px;
}

.time h3{
    font-size: 32px;
    border-bottom: 4px solid;
    display: inline-block; /*deixa o display apenas pro tamanho do conteúdo da tag*/
    padding-bottom: 8px;
}